extend layout
block page
    div.row
        div.col-lg-12
            h1.page-header
                | #{project_name}
                br
                a.btn.btn-primary.deploybtn(href='#{path}')
                    | Deploy and build
                br
                input#install(type='checkbox', style='width:150px;border:0', disabled)
                small
                    | Install the package
    div.row
        div.col-lg-4
            div.panel.panel-default
                div.panel-heading
                    | Device to deploy to
                div.panel-body
                    div.list-group
                        each device in devices
                            li.list-group-item.device(device='#{device}')
                                | #{device}
